[submodule "elements/submodules/youdao-dictionary.el"]
	path = elements/submodules/youdao-dictionary.el
	url = https://github.com/c0001/youdao-dictionary.el.git
[submodule "elements/submodules/yasnippet-snippets"]
	path = elements/submodules/yasnippet-snippets
	url = https://github.com/c0001/yasnippet-snippets.git
[submodule "elements/submodules/yasnippet"]
	path = elements/submodules/yasnippet
	url = https://github.com/c0001/yasnippet.git
[submodule "elements/submodules/xcscope.el"]
	path = elements/submodules/xcscope.el
	url = https://github.com/c0001/xcscope.el.git
[submodule "elements/submodules/with-editor"]
	path = elements/submodules/with-editor
	url = https://github.com/c0001/with-editor.git
[submodule "elements/submodules/window-number"]
	path = elements/submodules/window-number
	url = https://github.com/c0001/window-number.git
[submodule "elements/submodules/web-mode"]
	path = elements/submodules/web-mode
	url = https://github.com/c0001/web-mode.git
[submodule "elements/submodules/web-completion-data"]
	path = elements/submodules/web-completion-data
	url = https://github.com/c0001/web-completion-data.git
[submodule "elements/submodules/web-beautify"]
	path = elements/submodules/web-beautify
	url = https://github.com/c0001/web-beautify.git
[submodule "elements/submodules/w3m"]
	path = elements/submodules/w3m
	url = https://github.com/c0001/w3m.git
[submodule "elements/submodules/volatile-highlights.el"]
	path = elements/submodules/volatile-highlights.el
	url = https://github.com/c0001/volatile-highlights.el.git
[submodule "elements/submodules/visual-regexp.el"]
	path = elements/submodules/visual-regexp.el
	url = https://github.com/c0001/visual-regexp.el.git
[submodule "elements/submodules/uuidgen-el"]
	path = elements/submodules/uuidgen-el
	url = https://github.com/c0001/uuidgen-el.git
[submodule "elements/submodules/use-package"]
	path = elements/submodules/use-package
	url = https://github.com/c0001/use-package.git
[submodule "elements/submodules/treepy.el"]
	path = elements/submodules/treepy.el
	url = https://github.com/c0001/treepy.el.git
[submodule "elements/submodules/toc-org"]
	path = elements/submodules/toc-org
	url = https://github.com/c0001/toc-org.git
[submodule "elements/submodules/tern"]
	path = elements/submodules/tern
	url = https://github.com/c0001/tern.git
[submodule "elements/submodules/symbol-overlay"]
	path = elements/submodules/symbol-overlay
	url = https://github.com/c0001/symbol-overlay.git
[submodule "elements/submodules/swiper"]
	path = elements/submodules/swiper
	url = https://github.com/c0001/swiper.git
[submodule "elements/submodules/ssh-agency"]
	path = elements/submodules/ssh-agency
	url = https://github.com/c0001/ssh-agency.git
[submodule "elements/submodules/srcery-emacs"]
	path = elements/submodules/srcery-emacs
	url = https://github.com/c0001/srcery-emacs.git
[submodule "elements/submodules/spacemacs-theme"]
	path = elements/submodules/spacemacs-theme
	url = https://github.com/c0001/spacemacs-theme.git
[submodule "elements/submodules/spaceline-all-the-icons.el"]
	path = elements/submodules/spaceline-all-the-icons.el
	url = https://github.com/c0001/spaceline-all-the-icons.el.git
[submodule "elements/submodules/spaceline"]
	path = elements/submodules/spaceline
	url = https://github.com/c0001/spaceline.git
[submodule "elements/submodules/skewer-mode"]
	path = elements/submodules/skewer-mode
	url = https://github.com/c0001/skewer-mode.git
[submodule "elements/submodules/shrink-path.el"]
	path = elements/submodules/shrink-path.el
	url = https://github.com/c0001/shrink-path.el.git
[submodule "elements/submodules/shell-pop-el"]
	path = elements/submodules/shell-pop-el
	url = https://github.com/c0001/shell-pop-el.git
[submodule "elements/submodules/s.el"]
	path = elements/submodules/s.el
	url = https://github.com/c0001/s.el.git
[submodule "elements/submodules/rainbow-mode"]
	path = elements/submodules/rainbow-mode
	url = https://github.com/c0001/rainbow-mode.git
[submodule "elements/submodules/rainbow-delimiters"]
	path = elements/submodules/rainbow-delimiters
	url = https://github.com/c0001/rainbow-delimiters.git
[submodule "elements/submodules/pythonic"]
	path = elements/submodules/pythonic
	url = https://github.com/c0001/pythonic.git
[submodule "elements/submodules/pyim-basedict"]
	path = elements/submodules/pyim-basedict
	url = https://github.com/c0001/pyim-basedict.git
[submodule "elements/submodules/pyim"]
	path = elements/submodules/pyim
	url = https://github.com/c0001/pyim.git
[submodule "elements/submodules/py-autopep8.el"]
	path = elements/submodules/py-autopep8.el
	url = https://github.com/c0001/py-autopep8.el.git
[submodule "elements/submodules/powerline"]
	path = elements/submodules/powerline
	url = https://github.com/c0001/powerline.git
[submodule "elements/submodules/posframe"]
	path = elements/submodules/posframe
	url = https://github.com/c0001/posframe.git
[submodule "elements/submodules/pos-tip"]
	path = elements/submodules/pos-tip
	url = https://github.com/c0001/pos-tip.git
[submodule "elements/submodules/popwin-el"]
	path = elements/submodules/popwin-el
	url = https://github.com/c0001/popwin-el.git
[submodule "elements/submodules/popup-el"]
	path = elements/submodules/popup-el
	url = https://github.com/c0001/popup-el.git
[submodule "elements/submodules/poporg"]
	path = elements/submodules/poporg
	url = https://github.com/c0001/poporg.git
[submodule "elements/submodules/pomidor"]
	path = elements/submodules/pomidor
	url = https://github.com/c0001/pomidor.git
[submodule "elements/submodules/php-mode"]
	path = elements/submodules/php-mode
	url = https://github.com/c0001/php-mode.git
[submodule "elements/submodules/page-break-lines"]
	path = elements/submodules/page-break-lines
	url = https://github.com/c0001/page-break-lines.git
[submodule "elements/submodules/ox-gfm"]
	path = elements/submodules/ox-gfm
	url = https://github.com/c0001/ox-gfm.git
[submodule "elements/submodules/org-pomodoro"]
	path = elements/submodules/org-pomodoro
	url = https://github.com/c0001/org-pomodoro.git
[submodule "elements/submodules/org-download"]
	path = elements/submodules/org-download
	url = https://github.com/c0001/org-download.git
[submodule "elements/submodules/org-bullets"]
	path = elements/submodules/org-bullets
	url = https://github.com/c0001/org-bullets.git
[submodule "elements/submodules/openwith"]
	path = elements/submodules/openwith
	url = https://github.com/c0001/openwith.git
[submodule "elements/submodules/names"]
	path = elements/submodules/names
	url = https://github.com/c0001/names.git
[submodule "elements/submodules/multiple-cursors.el"]
	path = elements/submodules/multiple-cursors.el
	url = https://github.com/c0001/multiple-cursors.el.git
[submodule "elements/submodules/mode-line-bell"]
	path = elements/submodules/mode-line-bell
	url = https://github.com/c0001/mode-line-bell.git
[submodule "elements/submodules/markdown-preview-mode"]
	path = elements/submodules/markdown-preview-mode
	url = https://github.com/c0001/markdown-preview-mode.git
[submodule "elements/submodules/markdown-mode"]
	path = elements/submodules/markdown-mode
	url = https://github.com/c0001/markdown-mode.git
[submodule "elements/submodules/magit-svn"]
	path = elements/submodules/magit-svn
	url = https://github.com/c0001/magit-svn.git
[submodule "elements/submodules/magit-popup"]
	path = elements/submodules/magit-popup
	url = https://github.com/c0001/magit-popup.git
[submodule "elements/submodules/magit-gitflow"]
	path = elements/submodules/magit-gitflow
	url = https://github.com/c0001/magit-gitflow.git
[submodule "elements/submodules/magit"]
	path = elements/submodules/magit
	url = https://github.com/c0001/magit.git
[submodule "elements/submodules/macrostep"]
	path = elements/submodules/macrostep
	url = https://github.com/c0001/macrostep.git
[submodule "elements/submodules/lua-mode"]
	path = elements/submodules/lua-mode
	url = https://github.com/c0001/lua-mode.git
[submodule "elements/submodules/loop.el"]
	path = elements/submodules/loop.el
	url = https://github.com/c0001/loop.el.git
[submodule "elements/submodules/log4e"]
	path = elements/submodules/log4e
	url = https://github.com/c0001/log4e.git
[submodule "elements/submodules/json-snatcher"]
	path = elements/submodules/json-snatcher
	url = https://github.com/c0001/json-snatcher.git
[submodule "elements/submodules/json-reformat"]
	path = elements/submodules/json-reformat
	url = https://github.com/c0001/json-reformat.git
[submodule "elements/submodules/json-mode"]
	path = elements/submodules/json-mode
	url = https://github.com/c0001/json-mode.git
[submodule "elements/submodules/js2-refactor.el"]
	path = elements/submodules/js2-refactor.el
	url = https://github.com/c0001/js2-refactor.el.git
[submodule "elements/submodules/js2-mode"]
	path = elements/submodules/js2-mode
	url = https://github.com/c0001/js2-mode.git
[submodule "elements/submodules/ivy-xref"]
	path = elements/submodules/ivy-xref
	url = https://github.com/c0001/ivy-xref.git
[submodule "elements/submodules/irony-mode"]
	path = elements/submodules/irony-mode
	url = https://github.com/c0001/irony-mode.git
[submodule "elements/submodules/irony-eldoc"]
	path = elements/submodules/irony-eldoc
	url = https://github.com/c0001/irony-eldoc.git
[submodule "elements/submodules/interactive-align"]
	path = elements/submodules/interactive-align
	url = https://github.com/c0001/interactive-align.git
[submodule "elements/submodules/imp.el"]
	path = elements/submodules/imp.el
	url = https://github.com/c0001/imp.el.git
[submodule "elements/submodules/hydra"]
	path = elements/submodules/hydra
	url = https://github.com/c0001/hydra.git
[submodule "elements/submodules/hl-todo"]
	path = elements/submodules/hl-todo
	url = https://github.com/c0001/hl-todo.git
[submodule "elements/submodules/highlight-parentheses.el"]
	path = elements/submodules/highlight-parentheses.el
	url = https://github.com/c0001/highlight-parentheses.el.git
[submodule "elements/submodules/highlight-indent-guides"]
	path = elements/submodules/highlight-indent-guides
	url = https://github.com/c0001/highlight-indent-guides.git
[submodule "elements/submodules/helm"]
	path = elements/submodules/helm
	url = https://github.com/c0001/helm.git
[submodule "elements/submodules/graphql.el"]
	path = elements/submodules/graphql.el
	url = https://github.com/c0001/graphql.el.git
[submodule "elements/submodules/gotham-theme"]
	path = elements/submodules/gotham-theme
	url = https://github.com/c0001/gotham-theme.git
[submodule "elements/submodules/google-translate"]
	path = elements/submodules/google-translate
	url = https://github.com/c0001/google-translate.git
[submodule "elements/submodules/go-mode.el"]
	path = elements/submodules/go-mode.el
	url = https://github.com/c0001/go-mode.el.git
[submodule "elements/submodules/gntp.el"]
	path = elements/submodules/gntp.el
	url = https://github.com/c0001/gntp.el.git
[submodule "elements/submodules/git-timemachine"]
	path = elements/submodules/git-timemachine
	url = https://github.com/c0001/git-timemachine.git
[submodule "elements/submodules/git-modes"]
	path = elements/submodules/git-modes
	url = https://github.com/c0001/git-modes.git
[submodule "elements/submodules/ghub"]
	path = elements/submodules/ghub
	url = https://github.com/c0001/ghub.git
[submodule "elements/submodules/f.el"]
	path = elements/submodules/f.el
	url = https://github.com/c0001/f.el.git
[submodule "elements/submodules/eyebrowse"]
	path = elements/submodules/eyebrowse
	url = https://github.com/c0001/eyebrowse.git
[submodule "elements/submodules/esup"]
	path = elements/submodules/esup
	url = https://github.com/c0001/esup.git
[submodule "elements/submodules/emmet-mode"]
	path = elements/submodules/emmet-mode
	url = https://github.com/c0001/emmet-mode.git
[submodule "elements/submodules/emacs-which-key"]
	path = elements/submodules/emacs-which-key
	url = https://github.com/c0001/emacs-which-key.git
[submodule "elements/submodules/emacs-websocket"]
	path = elements/submodules/emacs-websocket
	url = https://github.com/c0001/emacs-websocket.git
[submodule "elements/submodules/emacs-web-server"]
	path = elements/submodules/emacs-web-server
	url = https://github.com/c0001/emacs-web-server.git
[submodule "elements/submodules/emacs-smeargle"]
	path = elements/submodules/emacs-smeargle
	url = https://github.com/c0001/emacs-smeargle.git
[submodule "elements/submodules/emacs-simple-httpd"]
	path = elements/submodules/emacs-simple-httpd
	url = https://github.com/c0001/emacs-simple-httpd.git
[submodule "elements/submodules/emacs-memoize"]
	path = elements/submodules/emacs-memoize
	url = https://github.com/c0001/emacs-memoize.git
[submodule "elements/submodules/emacs-material-theme"]
	path = elements/submodules/emacs-material-theme
	url = https://github.com/c0001/emacs-material-theme.git
[submodule "elements/submodules/emacs-klere-theme"]
	path = elements/submodules/emacs-klere-theme
	url = https://github.com/c0001/emacs-klere-theme.git
[submodule "elements/submodules/emacs-htmlize"]
	path = elements/submodules/emacs-htmlize
	url = https://github.com/c0001/emacs-htmlize.git
[submodule "elements/submodules/emacs-helm-ag"]
	path = elements/submodules/emacs-helm-ag
	url = https://github.com/c0001/emacs-helm-ag.git
[submodule "elements/submodules/emacs-git-messenger"]
	path = elements/submodules/emacs-git-messenger
	url = https://github.com/c0001/emacs-git-messenger.git
[submodule "elements/submodules/emacs-doom-themes"]
	path = elements/submodules/emacs-doom-themes
	url = https://github.com/c0001/emacs-doom-themes.git
[submodule "elements/submodules/emacs-counsel-css"]
	path = elements/submodules/emacs-counsel-css
	url = https://github.com/c0001/emacs-counsel-css.git
[submodule "elements/submodules/emacs-copyit"]
	path = elements/submodules/emacs-copyit
	url = https://github.com/c0001/emacs-copyit.git
[submodule "elements/submodules/discover-my-major"]
	path = elements/submodules/discover-my-major
	url = https://github.com/c0001/discover-my-major.git
[submodule "elements/submodules/disable-mouse"]
	path = elements/submodules/disable-mouse
	url = https://github.com/c0001/disable-mouse.git
[submodule "elements/submodules/dired-quick-sort"]
	path = elements/submodules/dired-quick-sort
	url = https://github.com/c0001/dired-quick-sort.git
[submodule "elements/submodules/dired-hacks"]
	path = elements/submodules/dired-hacks
	url = https://github.com/c0001/dired-hacks.git
[submodule "elements/submodules/diminish.el"]
	path = elements/submodules/diminish.el
	url = https://github.com/c0001/diminish.el.git
[submodule "elements/submodules/diff-hl"]
	path = elements/submodules/diff-hl
	url = https://github.com/c0001/diff-hl.git
[submodule "elements/submodules/dash.el"]
	path = elements/submodules/dash.el
	url = https://github.com/c0001/dash.el.git
[submodule "elements/submodules/darkokai"]
	path = elements/submodules/darkokai
	url = https://github.com/c0001/darkokai.git
[submodule "elements/submodules/company-web"]
	path = elements/submodules/company-web
	url = https://github.com/c0001/company-web.git
[submodule "elements/submodules/company-tern"]
	path = elements/submodules/company-tern
	url = https://github.com/c0001/company-tern.git
[submodule "elements/submodules/company-shell"]
	path = elements/submodules/company-shell
	url = https://github.com/c0001/company-shell.git
[submodule "elements/submodules/company-quickhelp"]
	path = elements/submodules/company-quickhelp
	url = https://github.com/c0001/company-quickhelp.git
[submodule "elements/submodules/company-posframe"]
	path = elements/submodules/company-posframe
	url = https://github.com/c0001/company-posframe.git
[submodule "elements/submodules/company-mode"]
	path = elements/submodules/company-mode
	url = https://github.com/c0001/company-mode.git
[submodule "elements/submodules/company-irony"]
	path = elements/submodules/company-irony
	url = https://github.com/c0001/company-irony.git
[submodule "elements/submodules/company-c-headers"]
	path = elements/submodules/company-c-headers
	url = https://github.com/c0001/company-c-headers.git
[submodule "elements/submodules/company-anaconda"]
	path = elements/submodules/company-anaconda
	url = https://github.com/c0001/company-anaconda.git
[submodule "elements/submodules/command-log-mode"]
	path = elements/submodules/command-log-mode
	url = https://github.com/c0001/command-log-mode.git
[submodule "elements/submodules/color-theme-ujelly"]
	path = elements/submodules/color-theme-ujelly
	url = https://github.com/c0001/color-theme-ujelly.git
[submodule "elements/submodules/color-theme-sanityinc-tomorrow"]
	path = elements/submodules/color-theme-sanityinc-tomorrow
	url = https://github.com/c0001/color-theme-sanityinc-tomorrow.git
[submodule "elements/submodules/chinese-word-at-point.el"]
	path = elements/submodules/chinese-word-at-point.el
	url = https://github.com/c0001/chinese-word-at-point.el.git
[submodule "elements/submodules/cal-china-x"]
	path = elements/submodules/cal-china-x
	url = https://github.com/c0001/cal-china-x.git
[submodule "elements/submodules/buffer-move"]
	path = elements/submodules/buffer-move
	url = https://github.com/c0001/buffer-move.git
[submodule "elements/submodules/browse-kill-ring"]
	path = elements/submodules/browse-kill-ring
	url = https://github.com/c0001/browse-kill-ring.git
[submodule "elements/submodules/browse-at-remote"]
	path = elements/submodules/browse-at-remote
	url = https://github.com/c0001/browse-at-remote.git
[submodule "elements/submodules/birds-of-paradise-plus-theme.el"]
	path = elements/submodules/birds-of-paradise-plus-theme.el
	url = https://github.com/c0001/birds-of-paradise-plus-theme.el.git
[submodule "elements/submodules/bing-dict.el"]
	path = elements/submodules/bing-dict.el
	url = https://github.com/c0001/bing-dict.el.git
[submodule "elements/submodules/benchmark-init-el"]
	path = elements/submodules/benchmark-init-el
	url = https://github.com/c0001/benchmark-init-el.git
[submodule "elements/submodules/avy"]
	path = elements/submodules/avy
	url = https://github.com/c0001/avy.git
[submodule "elements/submodules/auto-yasnippet"]
	path = elements/submodules/auto-yasnippet
	url = https://github.com/c0001/auto-yasnippet.git
[submodule "elements/submodules/auto-sudoedit"]
	path = elements/submodules/auto-sudoedit
	url = https://github.com/c0001/auto-sudoedit.git
[submodule "elements/submodules/auto-complete"]
	path = elements/submodules/auto-complete
	url = https://github.com/c0001/auto-complete.git
[submodule "elements/submodules/atomic-chrome"]
	path = elements/submodules/atomic-chrome
	url = https://github.com/c0001/atomic-chrome.git
[submodule "elements/submodules/atom-one-dark-theme"]
	path = elements/submodules/atom-one-dark-theme
	url = https://github.com/c0001/atom-one-dark-theme.git
[submodule "elements/submodules/atom-dark-theme-emacs"]
	path = elements/submodules/atom-dark-theme-emacs
	url = https://github.com/c0001/atom-dark-theme-emacs.git
[submodule "elements/submodules/anaconda-mode"]
	path = elements/submodules/anaconda-mode
	url = https://github.com/c0001/anaconda-mode.git
[submodule "elements/submodules/all-the-icons.el"]
	path = elements/submodules/all-the-icons.el
	url = https://github.com/c0001/all-the-icons.el.git
[submodule "elements/submodules/all-the-icons-dired"]
	path = elements/submodules/all-the-icons-dired
	url = https://github.com/c0001/all-the-icons-dired.git
[submodule "elements/submodules/alert"]
	path = elements/submodules/alert
	url = https://github.com/c0001/alert.git
[submodule "elements/submodules/ac-php"]
	path = elements/submodules/ac-php
	url = https://github.com/c0001/ac-php.git
[submodule "elements/submodules/GitHub-Theme-for-Emacs"]
	path = elements/submodules/GitHub-Theme-for-Emacs
	url = https://github.com/c0001/GitHub-Theme-for-Emacs.git
[submodule "elements/submodules/doneburn-theme"]
	path = elements/submodules/doneburn-theme
	url = https://github.com/c0001/doneburn-theme.git
[submodule "elements/submodules/el2org"]
	path = elements/submodules/el2org
	url = https://github.com/c0001/el2org.git
[submodule "elements/submodules/eldoc-eval"]
	path = elements/submodules/eldoc-eval
	url = https://github.com/c0001/eldoc-eval.git
[submodule "elements/submodules/elfeed"]
	path = elements/submodules/elfeed
	url = https://github.com/c0001/elfeed.git
[submodule "elements/submodules/elisp-refs"]
	path = elements/submodules/elisp-refs
	url = https://github.com/c0001/elisp-refs.git
[submodule "elements/submodules/emacs-async"]
	path = elements/submodules/emacs-async
	url = https://github.com/c0001/emacs-async.git
[submodule "elements/submodules/emacs-color-themes"]
	path = elements/submodules/emacs-color-themes
	url = https://github.com/c0001/emacs-color-themes.git
[submodule "elements/submodules/nsis-mode"]
	path = elements/submodules/nsis-mode
	url = https://github.com/c0001/nsis-mode.git
[submodule "elements/submodules/makey"]
	path = elements/submodules/makey
	url = https://github.com/c0001/makey.git
[submodule "elements/submodules/emacs-maple-preview"]
	path = elements/submodules/emacs-maple-preview
	url = https://github.com/c0001/emacs-maple-preview.git
